body{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color:deeppink;
}

.container {
    border: 1px solid black;
    width: 70%;
    margin: auto;
    padding: 10px;
}

.container h1{
    font-size: 18px;
}

.container p{
    color: black;
}
